body {
    color: aquamarine;
    text-shadow: 2px 2px #FF0000;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background-color: brown;
    font-size: 3rem;
    min-width: 80rem

}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 1rem 2rem 0 #7FEBD4;
    transform: scale(1.02);
    transform: transform 10ms;
}

.choice-prefix{
    padding: 2rem 2.5rem;
    color: wheat;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, grey, green);
}

.incorrect {
    background: linear-gradient(32deg, grey, #d3113b);
}

#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(207, 73, 58);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background-color: rgb(207, 73, 58);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }

    html {
        font-size: 0.875rem;
    }
}
  
@media screen and (max-width: 480px) {
    html {
        font-size: 0.65rem;
    }
}