body {
    color: aquamarine;
    text-shadow: 2px 2px #FF0000;
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 3.8rem;
    margin-bottom: 0.9rem;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 0.875rem;
    }
}
  
@media screen and (max-width: 480px) {
    html {
        font-size: 0.65rem;
    }
}